app/step-functions-templates/run_qc_stats_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set vars",
  "States": {
    "Set vars": {
      "Type": "Pass",
      "Next": "Set Keys",
      "Assign": {
        "jobId": "{% $states.input.jobId %}",
        "fastqId": "{% $states.input.fastqId %}",
        "libraryId": "{% $states.input.libraryId %}",
        "cacheBucket": "${__fastq_manager_cache_bucket__}",
        "cacheKey": "{% '${__fastq_manager_cache_prefix__}' & $now('year=[Y0001]/month=[M01]/day=[D01]/') & $states.context.Execution.Name & '/' & $states.input.fastqId & '.json' %}",
        "sequaliBucket": "${__fastq_manager_sequali_output_bucket__}",
        "sequaliMidFix": "{% $now('year=[Y0001]/month=[M01]/day=[D01]/') & $states.context.Execution.Name & '/' & $states.input.fastqId %}"
      }
    },
    "Set Keys": {
      "Type": "Pass",
      "Next": "Get fastq object",
      "Assign": {
        "sequaliHtmlKey": "{% '${__fastq_manager_sequali_html_prefix__}' & $sequaliMidFix & '.html' %}",
        "sequaliParquetKey": "{% '${__fastq_manager_sequali_parquet_prefix__}' & $sequaliMidFix & '.parquet' %}",
        "multiqcHtmlKey": "{% '${__fastq_manager_multiqc_html_prefix__}' & $sequaliMidFix & '.html' %}",
        "multiqcParquetKey": "{% '${__fastq_manager_multiqc_parquet_prefix__}' & $sequaliMidFix & '.parquet' %}"
      }
    },
    "Get fastq object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__get_fastq_object_with_s3_objs_lambda_function_arn__}",
        "Payload": {
          "fastqId": "{% $fastqId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is ORA compression",
      "Assign": {
        "s3Objs": "{% $states.result.Payload.s3Objs %}",
        "fastqObj": "{% $states.result.Payload.fastqObj %}"
      }
    },
    "Is ORA compression": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Decompress Fastqs",
          "Condition": "{% $fastqObj.readSet.compressionFormat = 'ORA' %}",
          "Comment": "Is ORA Compression Format"
        }
      ],
      "Default": "Calculate Ephemeral Storage Size"
    },
    "Decompress Fastqs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "taskToken": "{% $states.context.Task.Token %}",
              "payload": {
                "fastqIdList": ["{% $fastqId %}"],
                "maxReads": "{% (\n  /* Min reads, 50 million */\n  $minReads := (\"${__min_sequali_reads__}\" ~> $number);\n  /* Max reads, 500 million */\n  $maxReads :=  (\"${__max_sequali_reads__}\" ~> $number);\n  /* Our output will be somewhere in the middle, unless there is less than $minReads */\n  ( $fastqObj.readCount < $minReads ) ? (\n    /* Less than min reads */\n    $fastqObj.readCount\n  ) : (\n    /* We have more than min reads */\n    $min([\n      (\n        /* Like a taxation after 50 million */\n        $sum(\n          [\n            /* Take the first 50 million free of tax */\n            $minReads,\n            /* Tax the remaining at 50 pct */\n            $round(0.5 * ($fastqObj.readCount - $minReads))\n          ]\n        )\n      ),\n      /* This is our upper bound */\n      $maxReads\n    ])\n  )\n) %}",
                "sampling": true
              }
            },
            "DetailType": "${__ora_decompression_request_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "Next": "Get Fastq Object (for read count / basecount)",
      "Catch": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "Next": "Update job object",
          "Assign": {
            "jobStatus": "FAILED"
          }
        }
      ],
      "Assign": {
        "s3Objs": "{% (\n    $getFastqIngestIdList := function($decompressedFileList, $fastqId) {(\n        /* Start with the decompressedFileList input */\n        $decompressedFileList ~>\n        /* Get the only item in the list where the fastq id matches */\n        $single(\n            function($decompressedFileListIter){\n                $decompressedFileListIter.fastqId = $fastqId\n            }\n        ) ~>\n        /* Get the ingest id list */\n        $lookup('decompressedFileUriByOraFileIngestIdList')\n    )};\n    $getR1FileObjFilter := function($s3ObjIter){\n        $s3ObjIter.ingestId = $s3Objs[0].ingestId\n    };\n    $getR2FileObjFilter := function($s3ObjIter) {(\n        $s3ObjIter.ingestId = $s3Objs[1].ingestId\n    )};\n    $getFileUri := function($fastqFileList, $filterFunction){\n        /* Start with the fastq file list */\n        $fastqFileList ~>\n        /* Pipe into single, which collects the filter function */\n        $single($filterFunction) ~>\n        /* And then get the gzipFileUri attribute */\n        $lookup('gzipFileUri')\n    };\n\n    /* Start with the decompressedFileList input */\n    $fastqFileList := $getFastqIngestIdList(\n        $states.result.decompressedFileList,\n        $fastqId\n    );\n\n    /* Collect the iterable that matches the ingest id */\n    [\n        {\n            's3Uri': ($fastqFileList ~> $getFileUri($getR1FileObjFilter))\n        },\n        {\n            's3Uri': ($fastqFileList ~> $getFileUri($getR2FileObjFilter))\n        }\n    ]\n) %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.HeartbeatTimeout"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 1
        }
      ],
      "HeartbeatSeconds": 3600
    },
    "Get Fastq Object (for read count / basecount)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_fastq_object_with_s3_objs_lambda_function_arn__}",
        "Payload": {
          "fastqId": "{% $fastqId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Calculate Ephemeral Storage Size",
      "Assign": {
        "fastqObj": "{% $states.result.Payload.fastqObj %}"
      }
    },
    "Calculate Ephemeral Storage Size": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__calculate_ephemeral_size_lambda_function_arn__}",
        "Payload": {
          "s3Objs": "{% $s3Objs %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Run Sequali and upload to s3",
      "Assign": {
        "ephemeralStorageSizeInGiB": "{% $states.result.Payload.ephemeralStorageSizeInGiB %}"
      }
    },
    "Run Sequali and upload to s3": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "${__get_sequali_stats_cluster_arn__}",
        "TaskDefinition": "${__get_sequali_stats_task_definition_arn__}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": "{% $split('${__get_sequali_stats_subnets__}', ',') %}",
            "SecurityGroups": "{% [ '${__get_sequali_stats_security_group__}' ] %}"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "${__get_sequali_stats_container_name__}",
              "Environment": [
                {
                  "Name": "FASTQ_ID",
                  "Value": "{% $fastqId %}"
                },
                {
                  "Name": "LIBRARY_ID",
                  "Value": "{% $libraryId %}"
                },
                {
                  "Name": "READ_COUNT",
                  "Value": "{% $fastqObj.readCount != null ? $string($fastqObj.readCount) : null %}"
                },
                {
                  "Name": "BASE_COUNT_EST",
                  "Value": "{% $fastqObj.baseCountEst != null ? $string($fastqObj.baseCountEst) : null %}"
                },
                {
                  "Name": "R1_INPUT_URI",
                  "Value": "{% $s3Objs[0].s3Uri %}"
                },
                {
                  "Name": "R2_INPUT_URI",
                  "Value": "{% $s3Objs[1] ? $s3Objs[1].s3Uri : null %}"
                },
                {
                  "Name": "OUTPUT_SEQUALI_JSON_SUMMARY_URI",
                  "Value": "{% 's3://' & $cacheBucket & '/' & $cacheKey %}"
                },
                {
                  "Name": "OUTPUT_SEQUALI_HTML_URI",
                  "Value": "{% 's3://' & $sequaliBucket & '/' & $sequaliHtmlKey %}"
                },
                {
                  "Name": "OUTPUT_SEQUALI_PARQUET_URI",
                  "Value": "{% 's3://' & $sequaliBucket & '/' & $sequaliParquetKey %}"
                },
                {
                  "Name": "OUTPUT_MULTIQC_HTML_URI",
                  "Value": "{% 's3://' & $sequaliBucket & '/' & $multiqcHtmlKey %}"
                },
                {
                  "Name": "OUTPUT_MULTIQC_PARQUET_URI",
                  "Value": "{% 's3://' & $sequaliBucket & '/' & $multiqcParquetKey %}"
                }
              ]
            }
          ],
          "EphemeralStorage": {
            "SizeInGiB": "{% $ephemeralStorageSizeInGiB ? $ephemeralStorageSizeInGiB : ${__default_ephemeral_storage_size_gib__} %}"
          }
        }
      },
      "Next": "Get sequali outputs",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Assign": {
            "jobStatus": "FAILED"
          },
          "Next": "Update job object"
        }
      ],
      "Assign": {
        "jobStatus": "SUCCEEDED"
      },
      "Retry": [
        {
          "ErrorEquals": ["ECS.AmazonECSException"],
          "BackoffRate": 2,
          "IntervalSeconds": 20,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ]
    },
    "Get sequali outputs": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $cacheBucket %}",
        "Key": "{% $cacheKey %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Update job object",
      "Assign": {
        "sequaliData": "{% /* https://docs.jsonata.org/string-functions#eval */\n$parse($states.result.Body) %}"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Update job object",
          "Assign": {
            "jobStatus": "FAILED"
          }
        }
      ]
    },
    "Update job object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_job_object_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "jobStatus": "{% $jobStatus %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Job Status is Succeeded"
    },
    "Job Status is Succeeded": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Update fastq object",
          "Condition": "{% $jobStatus = 'SUCCEEDED' %}",
          "Comment": "Job Status Is Succeeded"
        }
      ],
      "Default": "Fail"
    },
    "Update fastq object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__update_fastq_object_lambda_function_arn__}",
        "Payload": {
          "fastqId": "{% $fastqId %}",
          "qc": "{% [\n  /* Metadata for sequali */\n  $sequaliData,\n  /* Output URIs for multiqc and sequali html and parquet reports */\n  {\n    'sequaliReports': {\n      'sequaliHtml': {\n        's3Uri': 's3://' & $sequaliBucket & '/' & $sequaliHtmlKey\n      },\n      'sequaliParquet': {\n        's3Uri': 's3://' & $sequaliBucket & '/' & $sequaliParquetKey\n      },\n      'multiqcHtml': {\n        's3Uri': 's3://' & $sequaliBucket & '/' & $multiqcHtmlKey\n      },\n      'multiqcParquet': {\n        's3Uri': 's3://' & $sequaliBucket & '/' & $multiqcParquetKey\n      }\n    }\n  }\n] ~>\n$merge %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}
