app/step-functions-templates/run_somalier_extract_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set env vars",
  "States": {
    "Set env vars": {
      "Type": "Pass",
      "Assign": {
        "libraryId": "{% $states.input.libraryId %}",
        "fastqSetId": "{% $states.input.fastqSetId %}",
        "bamUri": "{% $states.input.bamUri ? $states.input.bamUri : null %}",
        "referenceName": "{% $states.input.referenceName ? $states.input.referenceName : 'hg38' %}",
        "somalierBucket": "${__ntsm_bucket__}",
        "somalierKey": "{% '${__somalier_prefix__}' & $now('year=[Y0001]/month=[M01]/day=[D01]/') & $states.context.Execution.Name & '/' & $states.input.fastqSetId & '.somalier' %}"
      },
      "Next": "Get references"
    },
    "Get references": {
      "Type": "Parallel",
      "Next": "Has input bam file",
      "Branches": [
        {
          "StartAt": "Get reference paths from reference name",
          "States": {
            "Get reference paths from reference name": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__reference_paths_map__}' & $referenceName %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Assign": {
                "refGenomeUri": "{% $states.result.Parameter.Value %}"
              },
              "End": true,
              "Output": {
                "refGenomeUri": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Get sites path from reference name",
          "States": {
            "Get sites path from reference name": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__sites_paths_map__}' & $referenceName %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "sitesVcfUri": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "refGenomeUri": "{% $states.result[0].refGenomeUri %}",
        "sitesVcfUri": "{% $states.result[1].sitesVcfUri %}"
      }
    },
    "Has input bam file": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Generate Somalier fingerprints from input bam",
          "Condition": "{% $bamUri ? true : false %}"
        }
      ],
      "Default": "Get Fastq List"
    },
    "Get Fastq List": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "fastqIdList": "{% [ $states.result.Payload.fastqList.(id) ] %}",
        "isOra": "{% $states.result.Payload.fastqList[0].readSet.compressionFormat = 'ORA' %}",
        "read1FileUriList": "{% [ $states.result.Payload.fastqList.(readSet.r1.s3Uri) ] %}",
        "read2FileUriList": "{% [ $states.result.Payload.fastqList.(readSet.r2.s3Uri) ] %}"
      },
      "Arguments": {
        "FunctionName": "${__get_fastq_objects_in_fastq_set_lambda_function_arn__}",
        "Payload": {
          "fastqSetId": "{% $fastqSetId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Is ORA"
    },
    "Is ORA": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Decompress Fastqs",
          "Condition": "{% $states.input.isOra %}"
        }
      ],
      "Default": "Generate Fingerprint and Mini-Bam"
    },
    "Decompress Fastqs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
      "Arguments": {
        "Entries": [
          {
            "Detail": {
              "taskToken": "{% $states.context.Task.Token %}",
              "payload": {
                "maxReads": "{% ( $number(${__max_somailer_reads__}) / $count($states.input.fastqIdList) ) ~> $string %}",
                "fastqIdList": "{% $states.input.fastqIdList %}"
              }
            },
            "DetailType": "${__ora_decompression_request_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "Next": "Generate Fingerprint and Mini-Bam",
      "Output": "{% (\n    /* Get the fastq ingest id list */\n    $getFastqIngestIdList := function($decompressedFileList, $fastqId){(\n        /* Start with the decompressedFileList input */\n        $decompressedFileList ~>\n        /* Get the only item in the list where the fastq id matches */\n        $single(\n            function($decompressedFileListIter){\n                $decompressedFileListIter.fastqId = $fastqId\n            }\n        ) ~>\n        /* Get the ingest id list */\n        $lookup('decompressedFileUriByOraFileIngestIdList') ~>\n        /* Get the file uris (nested)*/\n        $lookup('gzipFileUri')\n    )};\n\n    $r1StrFilter := function($fastqUriIter){\n        $fastqUriIter ~> $contains(/R1_001.fastq.gz$/)\n    };\n\n    $r2StrFilter := function($fastqUriIter){\n        $fastqUriIter ~> $contains(/R2_001.fastq.gz$/)\n    };\n\n    /* Start with the decompressedFileList input */\n    $fastqFileList := ([\n      /* Collect the gzip file uris */\n      $states.input.fastqIdList ~> $map(function($fastqIdIter){\n          $getFastqIngestIdList(\n            $states.result.decompressedFileList,\n            $fastqIdIter\n          )\n      }) ~>\n      /* Flatten array */\n      $reduce($append)\n    ]);\n\n    /* Collect the iterable that matches the ingest id */\n    {\n        \"read1FileUriList\": ($fastqFileList ~> $filter($r1StrFilter)),\n        \"read2FileUriList\": ($fastqFileList ~> $filter($r2StrFilter))\n    }\n) %}"
    },
    "Generate Fingerprint and Mini-Bam": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "${__tiny_alignment_cluster_arn__}",
        "TaskDefinition": "${__tiny_alignment_task_definition_arn__}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": "{% $split('${__tiny_alignment_subnets__}', ',') %}",
            "SecurityGroups": "{% [ '${__tiny_alignment_security_group__}' ] %}"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "${__tiny_alignment_container_name__}",
              "Environment": [
                {
                  "Name": "REF_GENOME_URI",
                  "Value": "{% $refGenomeUri %}"
                },
                {
                  "Name": "SITES_VCF_URI",
                  "Value": "{% $sitesVcfUri %}"
                },
                {
                  "Name": "READ_1_FILE_URI_LIST",
                  "Value": "{% $states.input.read1FileUriList ~> $join(',') %}"
                },
                {
                  "Name": "READ_2_FILE_URI_LIST",
                  "Value": "{% $states.input.read2FileUriList ~> $join(',') %}"
                },
                {
                  "Name": "SAMPLE_NAME",
                  "Value": "{% $libraryId %}"
                },
                {
                  "Name": "OUTPUT_FILTERED_BAM_URI",
                  "Value": "{% 's3://' & $somalierBucket & '/' & $replace($somalierKey, '.somalier', '.filtered.bam') %}"
                },
                {
                  "Name": "OUTPUT_FINGERPRINT_S3_URI",
                  "Value": "{% 's3://' & $somalierBucket & '/' & $somalierKey %}"
                }
              ]
            }
          ]
        }
      },
      "Next": "Get sample metadata",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Fail"
        }
      ]
    },
    "Generate Somalier fingerprints from input bam": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "${__somalier_extract_cluster_arn__}",
        "TaskDefinition": "${__somalier_extract_task_definition_arn__}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": "{% $split('${__somalier_extract_subnets__}', ',') %}",
            "SecurityGroups": "{% [ '${__somalier_extract_security_group__}' ] %}"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "${__somalier_extract_container_name__}",
              "Environment": [
                {
                  "Name": "REF_GENOME_URI",
                  "Value": "{% $refGenomeUri %}"
                },
                {
                  "Name": "SITES_VCF_URI",
                  "Value": "{% $sitesVcfUri %}"
                },
                {
                  "Name": "INPUT_BAM_URI",
                  "Value": "{% $bamUri %}"
                },
                {
                  "Name": "SAMPLE_NAME",
                  "Value": "{% $libraryId %}"
                },
                {
                  "Name": "OUTPUT_FILTERED_BAM_URI",
                  "Value": "{% 's3://' & $somalierBucket & '/' & $replace($somalierKey, '.somalier', '.filtered.bam') %}"
                },
                {
                  "Name": "OUTPUT_FINGERPRINT_URI",
                  "Value": "{% 's3://' & $somalierBucket & '/' & $somalierKey %}"
                }
              ]
            }
          ]
        }
      },
      "Next": "Get sample metadata",
      "Assign": {
        "jobStatus": "SUCCEEDED"
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Assign": {
            "jobStatus": "FAILED"
          },
          "Next": "Fail"
        }
      ],
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "BackoffRate": 2,
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "Comment": "Sporadic Libcurl error",
          "MaxDelaySeconds": 300
        }
      ]
    },
    "Get sample metadata": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": {
        "libraryId": "{% $states.result.Payload.libraryObj.libraryId %}",
        "individualId": "{% $states.result.Payload.libraryObj.subject.individualSet[0].individualId %}"
      },
      "Arguments": {
        "FunctionName": "${__get_library_from_fastq_set_id_lambda_function_arn__}",
        "Payload": {
          "fastqSetId": "{% $fastqSetId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Send bam to holmes for extraction"
    },
    "Send bam to holmes for extraction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${__send_tiny_bam_to_holmes_sfn_arn__}",
        "Input": {
          "libraryId": "{% $states.input.libraryId %}",
          "individualId": "{% $states.input.individualId %}",
          "bamInput": "{% 's3://' & $somalierBucket & '/' & $replace($somalierKey, '.somalier', '.filtered.bam') %}",
          "referenceName": "{% $referenceName %}"
        }
      },
      "Next": "Update fastq set object"
    },
    "Update fastq set object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_fastq_set_object_lambda_function_arn__}",
        "Payload": {
          "fastqSetId": "{% $fastqSetId %}",
          "somalierUri": "{% 's3://' & $somalierBucket & '/' & $somalierKey %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "Fail": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}
